<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link rel="stylesheet" href="{{$assets}}/lib/layer/skin/layer.css">
    <link rel="stylesheet" href="{{$assets}}/css/success.css">
    <title>报名成功</title>
</head>
<body>
    <div class="container">
        <div class="ticket">
            <p>电子门票号：{{$stu_id}}</p><br/>
            <p>截图保留，凭票入场</p>
        </div>
        <div class="name">
            <p>{{$name}}&nbsp;同学：</p>
        </div>
        <div class="info">
            <p>
                您已经成功报名东北师范大学
            </p>
            <p>
                2017年江苏省百企名校团召会
            </p>
            <p class="time">时间：2017年10月12日 9:30-11:30</p>
            <p class="location">地点：本校校区就业中心</p>
        </div>
        <div class="app">
            <p>请同学们关注</p>
            <p>东北高师联盟网APP</p>
        </div>
    </div>
    <div class="qr-code">
        <img src="{{$assets}}/img/android.jpg" alt="">
        <img src="{{$assets}}/img/ios.jpg" alt="">
        <!-- <img src="{{$assets}}/img/qr-code.jpg" alt=""> -->
    </div>
</body>
</html>